{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
{% if page.handle == 'about-us-1' %}
	{% section 'about-template' %}   
{% elsif page.handle == 'faqs-1' %}
	{% section 'faq-template' %}   
{% else %}
	{% section 'page-template' %}
{% endif %}
<div id="looxReviews" data-loox-aggregate="" class="loox-reviews-default"></div>